@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC");

* {
    margin: 0;
    padding: 0;
    text-align: center;
}

html {
    font-size: 16px;
    height: 100%;
    background-image: url("../image/background.jpg");
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
}

.opacity {
    background-color: rgba(0, 0, 0, 0.1);
}

.title {
    line-height : 50vh;
    font-family: 'Noto Sans TC';
    font-size: 3em;
    color: #D0D0D0;
    letter-spacing: .5em;
}

.btn {
    line-height: 30vh;
}

.btn div {
    /* Box */
    margin: 0 1em;
    height: 3em;
    width: 7em;
    border: 2px solid #fff;
    border-radius: .5em;
    backdrop-filter: blur(4px);
    display: inline-block;
    cursor: pointer;

    /* Font */
    line-height: 3em;
    font-family: 'Noto Sans TC';
    font-size: 3em;
    color: #D0D0D0;
    letter-spacing: .05em;
}

.icon {
    line-height: 20vh;
}

.icon img{
    height: 8vh;
    margin: 0 .5em;
}