@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC");

* {
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    color: #D0D0D0;
}

html {
    height: 100%;
    background-image: url("../image/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
    overflow: auto;
    font-size: 16px;
}

body {
    height: 100%;
    background-color: rgba(0, 0, 0, .1);
    color: transparent;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: color 0.5s;
}

body::-webkit-scrollbar {width: .8em;}
body::-webkit-scrollbar-thumb {
    border: .2em solid transparent;
    border-radius: .4em;
    box-shadow: inset 0 0 0 .3em;
}
body::-webkit-scrollbar-button {width: 0; height: 0; display: none;}
body:hover {color: #D0D0D0;}

#title_block {
    /* height: 50vh; */
    width: 100%;
    line-height: 1.3em;
    font-family: 'Noto Sans TC';
    font-size: 6em;
    font-weight: bold;
    text-shadow: 0 0 .2em #333;
    letter-spacing: .2em;
    display: flex;
    justify-content: center;    /* option: flex-start | center | flex-end | space-between | space-around | space-evenly */
    align-items: center;        /* option: flex-start | center | flex-end | stretch */
    /* display: none; */
}

#btn_block {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.btn_outer {
    height: 10em;
    display: flex;
    align-items: center;
}

.btn_inner {
    /* Box */
    height: 3em;
    width: 7em;
    background-color: rgba(0, 0, 0, .3);
    border: 2px solid #D0D0D0;
    border-radius: .5em;
    backdrop-filter: blur(2px);
    transition: 0.5s;
    cursor: pointer;
    overflow: hidden;

    /* Font */
    line-height: 3em;
    font-family: 'Noto Sans TC';
    font-size: 3em;
    letter-spacing: .05em;
}

.btn_inner:hover {
    backdrop-filter: blur(6px);
    border-color: #fff;
    box-shadow: 0 0 50px #fff;
    /* border-width: 3px; */
    /* border-color: #30a9de; */
    /* color: #30a9de; */
    /* font-weight: bold; */
}

.btn_bg div {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    z-index: -1;
}

.btn_bg div:hover {
    color: #fff;
}

.btn_bg a {
    display: block;
    text-shadow: 0 0 .2em #333;
    transition: 0.5s;
}

.btn_bg a:hover {
    margin-top: -3em;
}

.btn_bg a div:nth-child(2) {
    color: #fff;
}

.wave {
    height: 13em;
    width: 13em;
    border-radius: 43%;
    margin-left: -3em;
    position: absolute;
    margin-top: 3em;
    left: 0;
    background-color: #30a9de;
    opacity: 0.3;
    animation: drift 7s infinite linear;
    transition: 0.5s;
}

.wave1 {
    height: 13em;
    width: 13em;
    border-radius: 43%;
    margin-left: -3em;
    position: absolute;
    margin-top: 3em;
    left: 0;
    /* background-color: #30a9de; */
    background-color: #fff;
    opacity: 0.3;
    animation: drift 7s infinite linear;
    transition: 0.5s;
}

.wave1:nth-child(2) {
    opacity: 0.2;
    animation: drift 9s infinite linear;
}

.wave1:nth-child(3) {
    opacity: 0.1;
    animation: drift 11s infinite linear;
}

@keyframes drift {
    from{transform: rotate(0deg)}
    to{transform: rotate(360deg)}
}

#icon_block {
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 10px;
}

.icon_outer {
    height: 10vh;
    width: 10vh;
}

.icon_outer div {
    height: 8vh;
    width: 8vh;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    display: block;

    /* Transition */
    -moz-transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}

.icon_outer div:hover {
    -moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
    box-shadow: 0 0 20px #fff;
}

.icon_inner {
    margin: 1vh;
    margin-top: 0vh;
    background-color: rgba(0, 0, 0, .3);
    box-shadow: 0 0 15px #000;
    transition: all .6s ease-in-out;
}

.icon_inner:hover {
    margin-top: -2vh;
    filter: brightness(200%)
}

*::after {
    position: relative;
    top: 1.5vh;
    left: 0%;
    font-family: 'Noto Sans TC';
    font-size: 12px;
    letter-spacing: 1px;
    color: #fff;
    background-color: rgba(0, 0, 0, .3);
    border: 1px solid #fff;
    border-radius: .5em;
    padding: 6px;
    transition: all .5s ease-in-out;
}

#fb {background-image: url('../image/icon/facebook.png');}
#ig {background-image: url('../image/icon/instagram.png');}
#yt {background-image: url('../image/icon/youtube.png');}
#lk {background-image: url('../image/icon/linkedin.png');}
#ml {background-image: url('../image/icon/email.png');}
#fb_outer:hover::after {content: 'Facebook';}
#ig_outer:hover::after {content: 'Instagram';}
#yt_outer:hover::after {content: 'YouTube';}
#lk_outer:hover::after {content: 'LinkedIn';}
#ml_outer:hover::after {content: 'E-mail'}

#about_block {
    height: 80vh;
    width: 80vw;
    position: absolute;
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, .9);
    border-radius: 2em;
    opacity: 0;
    display: none;
    transition: all .5s ease-in-out;
}

#close {
    height: 3em;
    width: 3em;
    top: -1.5em;
    right: -1.5em;
    position: absolute;
    background-image: url('../image/icon/close.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 1.5em;
    cursor: pointer;
}

#about_outer {
    height: 80vh;
    width: 80vw;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#about_side {
    height: 100%;
    width: 30%;
}

#about_side_inner {
    padding: 3em;
}

#about_side img{
    height: 10em;
    width: 10em;
    border-radius: 5em;
    position: relative;
    display: block;
}

#about_content {
    height: 100%;
    width: 70%;
}


#box{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    position: fixed;
    visibility: hidden;
}