#header-ctn {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 3em;
    padding: 0 1em;
    background-color: #2f4154;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

#header-ctn *{
    color: #D0D0D0;
}

#logo-ctn {
    position: absolute;
    left: 1em;
}
#sublogo {
    font-size: 18px;
}

#nav-ctn {
    position: absolute;
    right: 3em;
}
#nav-ctn *:hover {
    color: #30a9de;
}
#btn-sidemenu {
    position: absolute;
    right: 1em;
    cursor: pointer;
}

#header-ctn>div {
    font-size: 24px;
}
#header-ctn>div * {
    transition: color .5s ease-in-out;
}
#header-ctn>div *:hover {
    color: #fff;
}