* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Noto Sans TC';
}

html {
    scroll-behavior: smooth;
}

body {
    color: #fff;
    background-color: #181c27;
    transition: .5s;
}
*::-webkit-scrollbar {height: .4em; width: .4em;}
*::-webkit-scrollbar-thumb {
    background-color: #687582;
    border-radius: .2em;
}
*::-webkit-scrollbar-thumb:hover {background-color: #9da8b3;}
*::-webkit-scrollbar-track-piece {background: transparent;}
*::-webkit-scrollbar-button {width: 0; height: 0; display: none;}

a {transition: color .5s ease-in-out;}
a:hover {color: #30a9de;}

a.btn-goTop {
    position: fixed;
    bottom: -50px;
    right: 25px;
    z-index: 1;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #197C9D;
    font-size: 1.6rem;
    color: #fff;
    border-radius: 50%;
    transition: 0.3s;
    opacity: 0;
}
a.btn-content {
    right: 325px;
}
a.btn-goTop.show {
    opacity: 1;
    bottom: 25px;
}
a.btn-goTop.btn-content.show {
    bottom: 50px;
}

ul li {
    width: 5em;
    display: inline-block;
}

main {
    position: absolute;
    width: 100%;
    top: 3em;
    bottom: 0;
    overflow: hidden;
    z-index: -1;
}

.menu {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    background-color: rgba(37, 45, 56, 1);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.content {
    position: absolute;
    left: 0;
    right: 300px;
    top: 0;
    bottom: 0;
    background-color: #181c27;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
    text-align: center;
}

/* .timeline {
    position: absolute;
    height: 5em;
    left: 300px;
    right: 0;
    bottom: 0;
    background-color: #fff;
} */

/* @media (min-width: 576px){
    .container, .container-sm {
        max-width: 540px;
    }
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 600px){
    .navbar.scrolling-navbar {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .navbar.scrolling-navbar {
        will-change: background, padding;
        -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    }
    .navbar {
        background-color: transparent;
        font-size: 0.875rem;
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
        -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    }
    .fixed-top {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    .navbar {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0.5rem 1rem;
    }
}

@media (max-width: 767px){
    .navbar {
        font-size: 1rem;
        line-height: 2.5rem;
    }
    .navbar {
        background-color: transparent;
        font-size: 0.875rem;
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
        -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    }
    .fixed-top {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    .navbar {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0.5rem 1rem;
    }
}

@media (min-width: 768px){
    .container, .container-md, .container-sm {
        max-width: 720px;
    }
}

@media (min-width: 992px){
    .navbar-expand-lg {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .navbar {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0.5rem 1rem;
    }

    .navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid, .navbar-expand-lg>.container-lg, .navbar-expand-lg>.container-md, .navbar-expand-lg>.container-sm, .navbar-expand-lg>.container-xl {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    .navbar .container, .navbar .container-fluid, .navbar .container-lg, .navbar .container-md, .navbar .container-sm, .navbar .container-xl {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .container, .container-lg, .container-md, .container-sm {
        max-width: 960px;
    }
} */

/* @media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1140px;
    }
} */

/* .navbar.scrolling-navbar.top-nav-collapse {
    padding-top: 5px;
    padding-bottom: 5px;
} */