@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC");

body {
    background-image: url("../../image/background.jpg");
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
}

h1{
    font-family: 'Noto Sans TC';
    font-size: 5em;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0.2em
}