body {
    background-image: url("../../image/background.jpg");
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
}